$nav-color: rgba(20,20,20,1);
$offWhite: #F5F2E7;
$orange: #ECB365;
$backgroundBlue: #041C32;
$itemBlue: #04293A;
$itemBlueOpaque: #04293a59;
$lightBlue: #92A9BD;
$darkBlue: #064663;
$darkGreen: #136F63;
$tempColor: rgb(4,28,50);

@mixin flex{
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-center{
    @include flex;
    color:$offWhite;
    justify-content: center;
    align-content: center;
}
@mixin flex-column{
    @include flex;
    flex-direction: column;
}
@mixin flex-between{
    @include flex;
    justify-content: space-between;
}
@mixin flex-around{
    @include flex;
    justify-content: space-around;
}
@mixin section-flex{
    margin: 0% auto;
    width: 95%;
}
@mixin italic-center{
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
}
html {
    scroll-behavior: smooth;
  }
*{
    border: 0px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.left{
    width: 30%;
}
.right{
    width: 60%;
}
.page{
    width: 100%;
    height: 100vh;
}
#pocetak{
    @include flex-center;
    flex-direction: column;
    text-align: center;
    h1{
        font-size: 35px
    }
    .opis{
        @include italic-center;
        font-size: 32px;
    }
    ul{
        @include flex-column;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        height: 10%;
        a{
            width: 100%;
            height: 100%;
            i{
                font-size: 20px;
                position: absolute;
                color: white;
                text-decoration: none;
                animation-name: move1;
                animation-iteration-count: infinite;
                animation-fill-mode: backwards;
                animation-duration: 1s;
            }
        }
    }

}
@keyframes move1{
    0% {top: 20%;}
    50% {top: 70%;}
    100% {top: 20%;}
}
#landing-page{
    height: 94%;
    @include flex-between;
    flex-direction: column;
    #picture-section{
        height: 15%;
        align-items: center;
        @include flex-between;
        #temp{
            @include flex-center;
            height: 100%;
            img{
                height: 90%;
                width: auto;
                border-radius: 25%;
            }
        }
        #quote-holder{
            #quote{
                @include italic-center;
                p{
                    color: $darkGreen;
                }
            }
        }
        .right{
            text-align: center;
        }
    }
    #about-section{
        @include flex-between();
        width: 100%;
        height: 10%;
        .left{
            @include flex-column;
            justify-items: flex-end;
            text-align: center;
            h1{
                font-size: 25px;
                span{
                    color: $orange;
                }
            }
        }
        .right{
            table{
                background-color: $darkBlue;
                td,th{
                    text-align: center;
                }
                width: 100%;
                border-radius: 10px;
                border: 1px solid white;
                margin-bottom: auto;
            }
        }

    }
    #skills-section{
        @include flex-between;
        height: 40%;
        .left{
            text-align: center;
        }
        .right{
            @include flex-between;
            .skill{
                @include flex-around;
                flex-direction: column;
                text-align: center;
                border-radius: 20px;
                border: 1px solid black;
                padding: 5px;
                width: 45%;
                height: 45%;
                background-color: $itemBlue;
                p{
                color: $orange;
                }
                h2{
                    color: white;
                }
            }
        }
    }
    #education-section{
        @include flex-between;
        height: 25%;
        .left{
            text-align: center;
        }
        .right{
            height: 100%;
            ul{
                width: 100%;
                list-style-type: none;
                @include flex-between;
                flex-direction: column;
                height: 100%;
            }
            .education{
                border-radius: 5px;
                border: 1px solid black;
                text-align: center;
                background-color: $itemBlue;
                width: 100%;
                height: 5vh;
                a{
                    text-decoration: none !important;
                    p{
                    line-height: 5vh;
                    color: $offWhite;
                    }
                    p:hover{
                        color: $darkGreen;
                    }
                }
            }
        }
    }
}
@keyframes fade-out{
    from {opacity: 100%}
    to {opacity: 0%};
}
#projects{
    #projects-description{
        text-align: center;
        height: 6%;
        margin-bottom: 2%;
    }
    #projects-holder{
        @include flex-between;
        height: 90%;
        .project{
            @include flex-center();
            position: relative;
            width: 40%;
            height: 30%;
            background-color: $itemBlue;
            border-radius: 5%;
            border: 1px solid black;
            .cover{
                position: absolute;
                border-radius: 5%;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $itemBlue;
            }
            .cover:hover{
                animation-name: fade-out;
                animation-duration: 0.2s;
                animation-fill-mode: forwards;
            }
            .project-information{
                position: absolute;
                @include flex-column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 5px;
                .project-title{
                    @include flex-center;
                    color: white;
                    height: 20%;
                }
                .project-description{
                    @include flex-center;
                    height: 60%;
                }
                .project-links{
                    list-style-type: none;
                    @include flex-center;
                    z-index: 2;
                    height: 10%;
                    margin: 0 auto;
                    width: 30%;
                    li{
                        margin: 0% 10%;
                        text-decoration: none;
                        .github{
                            color: $darkGreen;
                            text-decoration: none !important;
                        }
                        .site{
                            color: $lightBlue;
                            text-decoration: none !important;
                        }
                    }

                }
                .project-skills{
                    @include flex-center;
                    color: $orange;
                    height: 10%;
                }
            }
        }
    }
}
#contact-us{
    position: relative;
    h2{
        text-align: center;
    }
    #contact-holder{
        width: 80%;
        height: 60%;
        margin: 5% auto 0% auto;
        @include flex-between;
        #contacts{
            @include flex-between;
            flex-direction: column;
            width: 40%;
            height: 100%;
            .contact{
                @include flex-column;
                border: 0.5px solid $darkGreen;
                border-radius: 2%;
                justify-content: space-between;
                text-align: center;
                height: 32%;
                color: $offWhite;
                padding: 5% 5% 2% 5%;
                background-color: $itemBlue;
                .title{
                    height: 20%;
                    i{
                        color: $orange;
                    }
                }
                .info{
                    @include flex-column;
                    align-items: center;
                    justify-content: center;
                    height: 60%;
                }
            }
        }
        #contact-form{
            padding-top: 1%;
            border-radius: 2%;
            text-align: center;
            width: 55%;
            background-color: $itemBlue;
            height: 100%;
            h3{
                margin-bottom: 2%;
                color: $lightBlue;
            }
            form{
                @include flex-column;
                justify-content: space-between;
                height: 90%;
                .input-holder{
                    @include flex-column;
                    justify-content: space-between;
                    margin: 0% auto;
                    width: 90%;
                    height: 15%;
                    label{
                        height: 10%;
                        width: 100%;
                        color: $orange;
                    }
                    .input{
                        border-radius: 4%;
                        width: 100%;
                        height: 70%;
                        text-align: center;
                        color: $orange;
                        background-color: $darkBlue;
                    }
                }
                .textarea-holder{
                    width: 90%;
                    height: 30%;
                    margin: 0% auto;
                    @include flex-column;
                    justify-content: space-between;
                    label{
                        height: 10%;
                        color: $orange;
                    }
                    textarea{
                        height: 85%;
                        color: $orange;
                        background-color: $darkBlue;
                        resize: none;
                    }
                }
                button{
                    margin: 0% auto;
                    width: 90%;
                    height: 10%;
                    background-color: $darkGreen;
                    color: $offWhite;
                }
                button:hover{
                    background-color: $orange;
                    color: $offWhite;
                }
            }
        }
    }
}
footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    background-color: $itemBlueOpaque;
    color: white;
    #copyright{
        position: absolute;
        left: 0%;
    }
    #links{
        list-style-type: none;
        height: 100%;
        margin: 0% auto;
        width: 20%;
        @include flex-between;
        align-items: center;
        a{
            color: $lightBlue;
        }
        a:hover{
            color: $orange;
        }
    }
}
nav{
    z-index: 3;
    @include flex-around;
    position: fixed;
    height: 5vh;
    width: 99vw;
    margin-bottom: 0.5%;
    background-color: rgba(20,20,20,0.2);
    align-items: center;
    ul{
        width: 50%;
        list-style-type: none;
        @include flex-around;
        li{
            a{
                color: $offWhite;
                text-decoration: none;
            }
            a:hover{
                color: $orange;
            }
        }

    }
}
#holder{
    background: rgb(4,28,50);
    background: linear-gradient(180deg, rgba(4,28,50,1) 0%, rgba(4,28,55,1), rgba(4,28,70,1), rgba(4,28,50,1) 100%);
    width: 100%;
    box-sizing: border-box;
    margin: 0% auto;
    padding: 0px 5% 0px 5%;
    .page{
        padding-top: 5vh;
    }
}
h1,h2,h3,p,tr,th{
    color: $offWhite;
}
@media only screen and (max-width: 1600px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
    p,a,tr,th{
        font-size: 12px;
    }
    #quote{
        font-size: 20px;
    }
    #me{
        width: 25%;
    }
}
@media only screen and (max-width: 1080px){
    #me{
        width: 30%;
    }
    #projects{
        #projects-holder{
            .project{
                height: 35%;
                .project-information{
                    .project-title{
                        height: 10%;
                    }
                    .project-description{
                        height: 50%;
                    }

                    .project-links{
                        width: 100%;
                        height: 15%;
                    }
                    .project-skills{
                        height: 25%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 920px){
    #holder{
        width: 100vw;
        #about-section, #picture-section{
            height: 17.5%;
            #quote-holder{
                display: none
            }
            #temp{
                width: 100%
            }
            #about-holder{
                margin: 0% auto;
                width: 70%
            }
        }
        #education-section, #skills-section{
            .left{
                @include flex-column;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .right{
                @include flex-between;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 80%;
            }
        }
        #education-section{
            height: 25%;
            .left{
                height: 30%;
            }
            .right{
                height: 70%;
                .education{
                    height: 4vh;
                    a{
                        p{
                            line-height: 4vh;
                        }
                    }
                }
            }
        }
    }
    #contact-us{
        #contact-holder{
            width: 100%;
            height: 75%;
        }
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 22px;
    }
    p,a,tr,th{
        font-size: 11px;
    }
    #about-section .right, #about-section #description, #skills-holder,#skill-description{
        width: 100%;
    }
    #me{
        width: 50%;
    }
    #skills-section{
        height: 35%;
    }
    #skills-description{
        height: 20%;
    }
    #skills-holder{
        width: 100%;
        height: 80%;
    }
}
@media only screen and (max-width: 720px){
    .page{
        height: auto;
    }
    #pocetak{
        height: 94vh;
        .opis{
            font-size: 25px;
        }
    }
    #holder{
        background-color: $backgroundBlue;
        padding: 0 0%;
        #picture-section{
            height: 20vh;
            .left{
                width: 50%;
                margin: 0 auto;
            }
            .right{
                display: none;
            }
        }
        #about-section{
            margin: 3% 0%;
            .left{
                margin: 2% 0%;
                text-align: center;
            }
            .right{
                @include section-flex;
                text-align: center;
            }
        }
        #skills-section{
            margin-top: 0%;
            height: 100vh;
            .left{
                height: 7%;
                margin-bottom: 1%;
            }
            .right{
                height: 92%;
                justify-content: space-between;
                @include section-flex;
                .skill{
                    width: 100%;
                    height: 20%;
                }
            }
        }
        #education-section{
            height: 30vh;
            div{
                width: 100%;
            }
            .left{
                height: 30%;
                @include flex-column;
                align-items: center;
                justify-content: center;
            }
            .right{
                @include section-flex;
            }
        }
        #projects{
            #projects-description{
                height: 6vh;
            }
            #projects-holder{
                height: 94vh;
                @include section-flex;
                .project{
                    width: 100%;
                    height: 23%;
                    .project-information{
                        .project-description{
                            height: 45%;
                        }
                        .project-links{
                            width: 100%;
                            height: 10%;
                        }
                        .project-skills{
                            height: 30%;
                        }
                    }
                }
            }
        }
    }
    #contact-us{
        height: auto;
        #contact-holder{
            @include flex-column;
            width: 100%;
            height: auto;
            #contacts{
                margin: 0% auto;
                width: 95%;
                height: 50vh;
            }
            #contact-form{
                margin: 0% auto;
                margin-top: 5%;
                width: 95%;
                height: 70vh;
                margin-bottom: 7vh;
            }
        }
        footer{
            #copyright{
                font-size: 10px;
            }
            #links{
                width: 40%;
            }
        }
    }
}