*{
    border: 0px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#picture-section{
    height: 15%;
    align-items: center;
}
#picture-section .right{
    text-align: center;
    border: 1px solid white;
}
.quote{
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
}
nav{
    height: 6%;
    margin-bottom: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-size: 33px;
}
h2{
    font-size: 28px;
}
p,a,tr,th{
    font-size: 18px;
}
tr,th{
    text-align: center;
}
.page{
    height: 100vh;
    width: 100%;
}
main{
    height: 94%;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
li a{
    color: white;
    text-decoration: none;
}
body{
    background-image: url('slike/background.jpg');
    background-repeat: repeat;
}
h1,h2,p,tr,th{
    color: white;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.space-b{
    justify-content: space-between;
}
.space-a{
    justify-content: space-around;
}
.column{
    flex-direction: column;
}
#holder{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,78,1) 32%, rgba(1,48,57,1) 100%);
    width: 100%;
    box-sizing: border-box;
    margin: 0% auto;
    padding: 0px 5%;
}
.block{
    width: 50%;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
}

#skola{
    margin-bottom: auto;
}
#description{
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}
#temp{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}
#me{
    width: 18%;
}
#me img{
    max-height: 100%;
}
#about-section{
    width: 100%;
    height: 10%;
}
.author-image{
    width: 100%;
    border-radius: 20px;
}
#about-holder{
}
table{
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: auto;
}
#skills-section{
    margin: 0% 0% 0% 0%;
    height: 40%;
}
#skills-holder{
    height: 100%;
}
.skill{
    border-radius: 20px;
    padding: 5px;
    width: 45%;
    height: 42%;
    background-color: #072561;
}
.skill hr{
    height: 20px;
}
#education-section{
    width: 100%;
    height: 25%;
}
#education-holder{
    height: 100%;
}
.education{
    border-radius: 5px;
    text-align: center;
    background-color: #E28E39;
    width: 100%;
    height: 5vh;
}
#description h1{
    color:#2e54a0;
}
span{
    color: #E28E39;
}
.education p{
    line-height: 5vh;
}
.skill h2,.skill p{
    text-align: center;
    color: white;
}
#projects{
    color: white;
    flex-direction: column;
    justify-content: center;
}
#projects p{
    text-align: center;
}
@media only screen and (max-width: 1600px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
    p,a,tr,th{
        font-size: 12px;
    }
    #me{
        width: 25%;
    }
}
@media only screen and (max-width: 1080px){
    #me{
        width: 30%;
    }
}
@media only screen and (max-width: 920px){
    #holder{
        width: 100%;
    }
    #about-section, #picture-section{
        height: 17.5%;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    p,a,tr,th{
        font-size: 15px;
    }
    #about-section{
        flex-direction: column;
        height: 15%;
    }
    #about-section .right, #about-section #description, #skills-holder,#skill-description{
        width: 100%;
    }
    #me{
        width: 50%;
    }
    #skills-section{
        height: 35%;
    }
    #skills-description{
        height: 20%;
    }
    #skills-holder{
        width: 100%;
        height: 80%;
    }
}
@media only screen and (max-width: 720px){
    #holder{
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,78,1) 50%, rgba(1,48,57,1) 100%);
    }
    #about-section{
        margin: 5% 0%;
    }
    #about-section .left, #about-section.right{
        margin: 2% 0%;
        text-align: center;
    }
    #education-section{
        height: 30vh;
    }
    #education-description{
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #education-holder{
        height: 80%;
    }
    #skill-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #temp{
        width: 50%;
    }
    #quote-holder{
        display: none;
    }
    .page{
        height: auto;
    }
    #picture-section{
        height: 10vh;
    }
    #skills-section{
        margin-top: 0%;
        height: 80vh;
    }
    #skills-description{
        height: 20%;
    }
    #skills-holder{
        height: 80%;
        justify-content: space-between;
    }
    .skill{
        width: 100%;
        height: 23%;
    }
    #education-section div{
        width: 100%;
    }
}