$nav-color: rgba(20,20,20,1);
$orange: #E28E39;
$darkBlue: #072561;


@mixin flex{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column{
    @include flex;
    flex-direction: column;
}
@mixin flex-between{
    @include flex;
    justify-content: space-between;
}
@mixin flex-around{
    @include flex;
    justify-content: space-around;
}
*{
    border: 0px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
}
.page{
    width: 100%;
    height: 100vh;
}
main{
    height: 94%;
    @include flex-between;
    flex-direction: column;
    #picture-section{
        height: 15%;
        align-items: center;
        @include flex-between;
        #temp{
            @include flex-column;
            height: 100%;
            #me{
                width: 20%;
                img{
                    max-height: 100%;
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
        #quote-holder{
            .quote{
                text-align: center;
                font-style: italic;
                font-weight: 100;
                font-size: 30px;
            }
        }
        .right{
            text-align: center;
        }
    }
    #about-section{
        @include flex-column;
        width: 100%;
        height: 10%;
        #left{
            width: 39%;
            @include flex-column;
            justify-items: flex-end;
        }
    }
}
#holder{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,78,1) 32%, rgba(1,48,57,1) 100%);
    width: 100%;
    box-sizing: border-box;
    margin: 0% auto;
    padding: 0px 5%;
}
nav{
    @include flex-around;
    height: 5%;
    margin-bottom: 0.5%;
    align-items: center;
    ul{
        width: 50%;
        @include flex-around;
        li a{
            color: white;
            text-decoration: none;
        }
    }
}
h1,h2,p,tr,th{
    color: rgb(219, 133, 133);
}